
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================ */

:root{
  --color-main: #FFFFF3;
  --color-background: #FFDFE9; /*mimi pink FTW*/
  /* --color-background: #FFD8E5; mimi pink FTW */

  --color-accent: #6B717E;
  --color-accept: #00D9C0;
  --color-danger: #FF4365;
}

.invisible{
  background: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  /* color:transparent; */
}

.accept{
  color: var(--color-accept);
}

.reject{
  color: var(--color-danger);
}

.danger{
  color: var(--color-danger);
}

.item{
  margin: 5px;
  border-radius: 2px;
  background-color: var(--color-main);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.33);

  font-family: sans-serif;
  font-size:14px;
}

.text-input{
  margin: 5px;

  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: var(--color-accent);
  background-color: var(--color-main);

  font-family: sans-serif;
  font-size:14px;
}

input[type="text"]
{
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: sans-serif;
  font-size:14px;
}

.action{
  /* TODO: learn what em is */
  margin: auto auto;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.33);
}

.btn{
  /* TODO: fix add item button or make it not a button */
  /* display: block;
  width: 100%;
  padding: 0px;
  border: 0px; */
  /* border-style: solid; */
  /* width: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25px;

  /* text-align: center; */

  /* vertical-align: middle; */
  /* margin: auto auto; */
  
}

body{
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#root{
  grid-column: 2;
}

textarea{
  overflow: hidden;
  resize: none;
}

.todo-list{
  padding: 0;
  /* margin-inline-start: 10px; */
  padding-top: 10px;
  margin: 0 auto;

  list-style-type: none;
}

.add-item-button{
  /* width: 100%; */
  /* height: 20px;
  width: 100px; */
}

.todo-item-interface{
  display: grid;
  grid-template-columns: 20px auto 30px;
}

.todo-item-completion{
  min-height: 30px;
  grid-column: 1;
  margin: auto auto;
}

.todo-item-title{
  grid-column: 2;
  margin: auto 0;
}

.todo-item-expand{
  grid-column: 3;
}

.todo-item-description{
  display: grid;
  grid-template-columns: 20px auto 30px;
  /* margin: auto auto; */
  /* margin: auto 10px; */
}

.todo-item-description-text{
  grid-column: 2;
}

.todo-item-description-delete{
  grid-column: 3;
}

.todo-item-edit-interface{
  display: grid;
  grid-template-columns: auto 30px 30px;
}

.todo-item-interface-edit-descriprion{
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: 30px 30px;
}

.description-edit{
  grid-column: 1;
  grid-row: 1/3;
}


#todo-item-add-interface{
  display: grid;
  grid-template-columns: auto 30px 30px;
  grid-template-rows: auto auto;
}

#todo-item-add-title{
  grid-column: 1;
  grid-row: 1;
}

#todo-item-add-description{
  grid-column: 1/4;
  grid-row: 2;
}